body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color:blanchedalmond
}

h1 {
    color: black;
}

.form-container {
    margin-bottom: 30px;
    background: white;
    padding: 15px;
    border-radius: 5px;
 
}

input {
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
}
th {
    background-color: #0056b3;
    color: white; 
    padding: 8px; 
}
